/* Add screen styles below */
body {
    background: #37323E;
    margin-top: 100px;
}

.card {
    background: #95B46A;
    margin: 0 auto;
    width: 500px;
    height: 310px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.card div {
    padding: 20px;
}

h1 {
    background: #172815;
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: -0.125rem;
}

h2 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -0.06rem;
    line-height: 0;
}

p1 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.06rem;   
}

ul {
    font-family: Verdana, sans-serif;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: -0.06rem;
    list-style-position: inside;
}

img {
    float: left;
    margin-right: 20px;
}